body {
    background-image:url("EAONE_BG_background.jpg")
    ;background-width:100%
	;background-repeat: repeat
	;
}

div.splash-index {
	background-image:url("EAONE_BG_4.jpg")
	;background-position: fixed
	;background-repeat: no-repeat
	;background-width:100%
	;width:100%
	;position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	;
	
}