body {
    background-image:url("EAONE_BG_background.jpg")
	;background-repeat: repeat
	;
}

div.splash-index {
	background-image:url("EAONE_BG_4.jpg")
	;background-repeat: no-repeat
	;width:100%
	;height:100%
	;
	
}