body {
    background-color:white
	;
	;
}

div.splash-index {
	background-image:url("EAONE_BG_3.png")
	;background-repeat: no-repeat
    ;width: 100%
    ;background-size: cover
    ;min-height: 800px
    ;background-position-y: -200px
	;
}